* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.image-column img {
  width: 200px;
  height: 250px;
}

.text-column {
  padding: 20px;
}

button {
  margin-top: 15px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: rgb(65, 155, 211);
  color: white;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 200;
}
