* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(./jjjjjjjj.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  margin: 2rem auto;

  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  background-color: #444140;
  justify-content: center;
}
h1 {
  text-align: center;
  color: aliceblue;
}
.container {
  margin: 30px 50px;
  padding-left: 50px;
  font-weight: bold;
  /* display: flex; */

  cursor: pointer;
  width: 300px;
  position: relative;
  align-items: center;
}

.ptj {
  background-color: #f7ebe8;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;

  border: 1px solid black;
}
.weather {
  background-color: #f7ebe8;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;
}
.clock {
  background-color: #f7ebe8;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;
}
.survey {
  background-color: #f7ebe8;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;
}
.popup {
  background-color: #f7ebe8;
  margin-bottom: 20px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;
}
.todo {
  background-color: #f7ebe8;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #1e1e24;
}
a {
  color: #1e1e24;
  text-decoration: none;
}
button {
  margin-top: 15px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: #f7ebe8;
  color: white;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
